Repository carbon-design-system/carbon-components-vue, pull requests merged in 2023-05, with the labels that each got.

#1453 feat: implement CvDatePicker
  package.json
  src/components/CvDatePicker/CvDatePicker-notes.md
  src/components/CvDatePicker/CvDatePicker.stories.js
  src/components/CvDatePicker/CvDatePicker.vue
  src/components/CvDatePicker/CvDatePickerSkeleton.vue
  src/components/CvDatePicker/__tests__/CvDatePicker.spec.js
  src/components/CvDatePicker/index.js
  src/components/CvDatePicker/plugins/appendToPlugin.js
  src/components/CvDatePicker/plugins/fixEventsPlugin.js
  src/components/CvDatePicker/plugins/monthSelectPlugin.js
  src/components/CvDatePicker/plugins/rangePlugin.js
  yarn.lock
Labels: V3 - Vue 3

#1419 docs(readme): add discord link to readme
  README.md
Labels: status: ready to merge

#1452 feat: implement CvForm, CvFormGroup and CvFormItem
  .storybook/styles.scss
  src/components/CvForm/CvForm.stories.mdx
  src/components/CvForm/CvForm.vue
  src/components/CvForm/CvFormGroup.vue
  src/components/CvForm/CvFormItem.vue
  src/components/CvForm/__tests__/CvForm.spec.js
  src/components/CvForm/__tests__/CvFormGroup.spec.js
  src/components/CvForm/__tests__/CvFormItem.spec.js
  src/components/CvForm/index.js
Labels: V3 - Vue 3, status: ready to merge

#1443 fix: add yarn cache to .gitignore and install @mdx-js/react
  .yarn/cache/@nrwl-nx-win32-x64-msvc-npm-15.8.5-e7fc8b9869-8.zip
  .yarn/cache/@storybook-addon-docs-npm-6.5.16-56ecbd77e7-3203abc3af.zip
  .yarn/cache/@storybook-addons-npm-6.5.16-f82ac7ef6c-0463150e4c.zip
  .yarn/cache/@storybook-api-npm-6.5.16-b483d49b56-c873189ac1.zip
  .yarn/cache/@storybook-channel-postmessage-npm-6.5.16-79449f3b7d-d3560d81db.zip
  .yarn/cache/@storybook-channels-npm-6.5.16-df1736dd49-3d7f7bc19e.zip
  .yarn/cache/@storybook-client-logger-npm-6.5.16-ec26e04d45-0a86959b1b.zip
  .yarn/cache/@storybook-components-npm-6.5.16-d14673fb15-1caf822bf1.zip
  .yarn/cache/@storybook-core-common-npm-6.5.16-5eb2305da8-886a701876.zip
  .yarn/cache/@storybook-core-events-npm-6.5.16-8b5dfcaaeb-1844bdabfb.zip
  .yarn/cache/@storybook-docs-tools-npm-6.5.16-9d4a30bdae-6351c5b1cb.zip
  .yarn/cache/@storybook-node-logger-npm-6.5.16-770d1ede6c-4ae47c03b6.zip
  .yarn/cache/@storybook-postinstall-npm-6.5.16-52d13b1fa0-023a19a068.zip
  .yarn/cache/@storybook-preview-web-npm-6.5.16-76bcc4f64f-6161c96e9e.zip
  .yarn/cache/@storybook-router-npm-6.5.16-02b10b4529-2812b93997.zip
  .yarn/cache/@storybook-source-loader-npm-6.5.16-c341d29a92-a299acdd6f.zip
  .yarn/cache/@storybook-store-npm-6.5.16-6d1eb1c50c-f438fb020a.zip
  .yarn/cache/@storybook-theming-npm-6.5.16-3cd34b3614-349affa5c5.zip
  .yarn/cache/flatpickr-npm-4.6.13-06399933fc-2cca1b8dc9.zip
  storybook/package.json
  yarn.lock
Labels: V3 - Vue 3, status: ready to merge

#1455 feat: add cv-modal
  src/components/CvModal/CvModal.stories.mdx
  src/components/CvModal/CvModal.vue
  src/components/CvModal/__tests__/CvModal.spec.js
  src/components/CvModal/index.js
Labels: V3 - Vue 3
